In [50]:

import sqlite3

conn = sqlite3.connect('emaildb.sqlite')
cur = conn.cursor()

cur.execute('''
DROP TABLE IF EXISTS Counts''')

cur.execute('''
CREATE TABLE Counts (org TEXT, count INTEGER)''')


fh = open('C:/Users/nsalehi/Desktop/mbox-short.txt')
for line in fh:
    if not line.startswith('From: ') : continue
    pieces = line.split('@')
    org = pieces[1].rstrip()
    print org
    cur.execute('SELECT count FROM Counts WHERE org = ? ', (org, ))
    row = cur.fetchone()
    if row is None:
        cur.execute('''INSERT INTO Counts (org, count) 
                VALUES ( ?, 1 )''', ( org, ) )
    else : 
        cur.execute('UPDATE Counts SET count=count+1 WHERE org = ?', 
            (org, ))
    conn.commit()

sqlstr = 'SELECT org, count FROM Counts ORDER BY count DESC LIMIT 10'

print
print "Counts:"
for row in cur.execute(sqlstr) :
    print str(row[0]), row[1]

cur.close()

uct.ac.za
media.berkeley.edu
umich.edu
iupui.edu
umich.edu
iupui.edu
iupui.edu
iupui.edu
umich.edu
umich.edu
umich.edu
umich.edu
iupui.edu
umich.edu
caret.cam.ac.uk
gmail.com
uct.ac.za
uct.ac.za
uct.ac.za
uct.ac.za
uct.ac.za
media.berkeley.edu
media.berkeley.edu
media.berkeley.edu
iupui.edu
iupui.edu
iupui.edu

Counts:
iupui.edu 8
umich.edu 7
uct.ac.za 6
media.berkeley.edu 4
caret.cam.ac.uk 1
gmail.com 1